<div class="row">
    <div class="col-3">
        Course Name => {{courseName}}
        <br>
        Course Name => {{courseName | uppercase}}
    </div>
    <div class="col-3">
        Course Name => {{courseName}}
        <br>
        Course Name => {{courseName | lowercase}}
    </div>
    <div class="col-3">
        Student => {{studentObj}}
        <br>
        Student => {{studentObj | json}}
    </div>
    <div class="col-3">
        <!--{{employeeArray | json}}-->
    </div>
</div>
<div class="row">
    <div class="col-3">
        Current Date => {{currentDate}}
        <br>
        date only => {{currentDate | date}}
    </div>
    <div class="col-3">
        Current Date => {{currentDate}}
        <br>
        date only => {{currentDate | date:'dd-MMM-yy'}}
    </div>
    <div class="col-3">
        Current Date => {{currentDate}}
        <br>
        date only => {{currentDate | date:'dd/MM/yyyy'}}
    </div>
    <div class="col-3">
        Current Date => {{currentDate}}
        <br>
        time only => {{currentDate | date:'hh:mm:ss a'}}
    </div>
</div>


<div class="row pt-5">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-5">
        <button *ngFor="let cityName of cityList" class="btn btn-success mx-1">
            {{cityName}}
        </button>
    </div>
    <div class="col-3">
        <div *ngFor="let c of cityList">
            <span> {{c}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select>
            <option *ngFor="let emp of employeeArray" [value]="emp.empId">
                {{emp.name}} - {{emp.city}}
            </option>
        </select>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeArray; let srno = index">
                    <td>{{srno+1}}</td>
                    <td>{{employee.name | na}}</td>
                    <td>{{employee.city | uppercase}}</td>
                    <td>{{employee.contactNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
