<button class="btn btn-warning" (click)="navigatetoAdmin()">Go to Admin</button>
<div class="row">
    <div class="col-3">
        1. Interpolation

        <p>FirstName ==> {{firstName}}</p>
        <div>
            {{luckNo}}
        </div>
        <span>{{isActive}}</span>
    </div>
    
    <div class="col-3">
        2. Property Binding
        <br>
        <input type="text" [value]="firstName" >
        <br>
        <input type="text" [placeholder]="myPlaceholder">
        <br>
        <div [class]="div1Classname" style="height: 100px;width: 100px;">

        </div>
        
    </div>
    <div class="col-3">
        3. Event Binding :
        <br>
        <button class="btn btn-success" (click)="showWelcomeMessage()" >Show Welcome Msg</button>
        <br>
        <select (change)="onCityChange()">
            <option value="Tunis">Tunis</option>
            <option value="Bizerte">Bizerte</option>
            <option value="Nabeul">Nabeul</option>
            <option value="Beja">Beja</option>
        </select>
    </div>
    
</div>
<div class="row">
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName">
    </div>
    <div class="col-3">
        <select [(ngModel)]="selectedCity">
            <option value="Tunis">Tunis</option>
            <option value="Bizerte">Bizerte</option>
            <option value="Nabeul">Nabeul</option>
            <option value="Beja">Beja</option>
        </select>
        --{{selectedCity}}
    </div>
</div>
